<!doctype html>
<html>
  <head>
    <%= favicon_tag 'favicon.ico' %>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>毕业设计-郑俊安</title>

    <style>
    </style>
    <%= stylesheet_link_tag :screen, media: :screen %>
    <%= stylesheet_link_tag :print, media: :print %>
  </head>

  <body> 
    <%= partial "/layouts/_header.erb" %>

    <div style="margin-top:100px;margin-right:25%; margin-left: 25%">
      <img class="avatar" alt="@iiwowks" width="200" height="200" src="/images/icon.jpg">
      <h1>这个功能模块暂时未能在静态页面上展示，可以在本地开启</h1>
    </div>

    <div >

    </div>


  </body>
</html>